/* Styles pour la lightbox */
#lightbox {
  background: rgba(192,192,192,0.9);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2;
}

.lightbox-content{
  display: flex;
  flex-direction: column;
  height: 95%;
  left: 15%;
  position: fixed;
  top: 3%;
  width: 80%;
}

.lightbox-carrousel {
  display: flex;
  height: 100%;
}

.close-button {
  color: #901C1C;
  cursor: pointer;
  font-size: 40px;
  position: fixed;
  right: auto;
  top: 5%;
}

.panels-lightbox {
  align-items: center;
  background-color: white;
  color: #901C1C;
  display: flex;
  font-size: 40px;
  height: 100%;
  justify-content: center;
  width: 5%;
}

.left-panel-lightbox{
  border-top-left-radius: 5px;
}

.right-panel-lightbox {
  border-top-right-radius: 5px;
}

#previous-arrow, #next-arrow {
  cursor: pointer;
  font-size: 40px;
}

.lightbox-media-container{
  background-color: white;
  display: block;
  height: 100%;
  width: 80%;
}

.lightbox-media {
  border-radius: 10px;
  box-sizing: content-box;
  height: 95%;
  margin-top: 20px;
  object-fit: cover;
  width: 99%;
}

.lightbox-text {
  align-items: center;
  background-color: white;
  border-bottom-left-radius: 5px ;
  border-bottom-right-radius: 5px ;
  color: #901C1C;
  display: flex;
  font-size: 20px;
  height: 5%;
  justify-content: center;
  margin-top: -20px;
  padding: 10px 0;
  width: 90%;
}
